<header class="home-header">
        <h1><a href="/">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="/createQuiz">Create</a>
                </li>
                <li>
                    <a href="/scores">Scores</a>
                </li>
                <li>
                    <div class="dropdown dropbtn">
                    <a href="#">Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        {{#each categories as |category|}}
                        <a href="/category/{{category.id}}">{{category.category_name}}</a>
                        {{/each}}
                    </div>
                    </div>
                </li>
                <li>
                    <a href="#" id="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    <h2 id="categoryname"> {{category.category_name}} </h2>

    <div class="quizpage-container">
        {{#each category.quizzes as |quiz|}}
        <div id="quiz1"><a href="/quiz/{{quiz.id}}">{{quiz.quiz_name}}</div></a>
        {{/each}}
    
</main>

<script src="/js/logout.js"></script>