<header class="home-header">
        <h1><a href="/">Quiz Hub</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="/createQuiz">Create</a>
                </li>
                <li>
                    <a href="/scores">Scores</a>
                </li>
                <li>
                    <div class="dropdown dropbtn">
                    <a href="#">Categories</a>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        {{#each categories as |category|}}
                        <a href="/category/{{category.id}}">{{category.category_name}}</a>
                        {{/each}}
                    </div>
                </div>
            </li>
            <li>
                <a href="#" id="logout">Log Out</a>
            </li>
        </ul>
    </nav>
</header>
<main>

    <h2> Start your quiz &#8595; </h2>

    <div class="takequiz-container">
        <div>
            <h3 id="quiztitle">{{quiz.quiz_name}}</h3>
            {{#each quiz.questions as |question|}}
            <h2 id="question-{{question.id}}" data-answer="{{question.correct_answer}}">{{question.question_text}}</h2>

            <div>
                <input type="radio" name="question-{{question.id}}-answers" id="question-{{question.id}}-answers-A"
                    value="{{question.choice1}}" />
                <label for="question-{{question.id}}-answers-A">A) {{question.choice1}}</label>
            </div>

            <div>
                <input type="radio" name="question-{{question.id}}-answers" id="question-{{question.id}}-answers-B"
                    value="{{question.choice2}}" />
                <label for="question-{{question.id}}-answers-B">B) {{question.choice2}}</label>
            </div>

            <div>
                <input type="radio" name="question-{{question.id}}-answers" id="question-{{question.id}}-answers-C"
                    value="{{question.choice3}}" />
                <label for="question-{{question.id}}-answers-C">C) {{question.choice3}}</label>
            </div>

            <div>
                <input type="radio" name="question-{{question.id}}-answers" id="question-{{question.id}}-answers-D"
                    value="{{question.choice4}}" />
                <label for="question-{{question.id}}-answers-D">D) {{question.choice4}}</label>
            </div>
            {{/each}}
        </div>
        <br>
        <br>
        <button id="submitanswersbtn">Submit Answers!</button>

</main>
<script src="/js/logout.js"></script>
<script src="/js/saveScore.js"></script>